* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.calculadora {
    padding: 20px;
    border-radius: 50px;
    background: gray;
    box-shadow: 0px 1px 5px rgb(4, 4, 4);
}

input {
    width: 370px;
    border: none;
    padding: 24px;
    margin: 10px;
    color: #ffffff;
    background: black;
    box-shadow: 0px 3px 15px rgba(184, 89, 89, 0);
    border-radius: 5%;
    font-size: 40px;
    text-align: right;
    text-align: right;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: 0;
    width: 80px;
    height: 50px;
    margin: 10px;
    border-radius: 8px;
    background:white ;
    color: black;
    font-size: 20px;
    
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botaoigual {
    font-size: 20px;
    background-color: rgb(12, 7, 7);
    color: #ffffff;
}


.operador {
    font-size: 20px;
    color: black;
}

.botaomaior {
    font: 30px;
    font-weight: 600;
    color:black;
}