@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Press Start 2P", system-ui;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(0, 255, 208), rgb(0, 173, 247));
}

.calculadora {
    padding: 20px;
    border-radius: 50px;
    background: rgb(235, 10, 193);
    box-shadow: 0px 3px 15px rgb(4, 4, 4);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    color: #ffffff;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(184, 89, 89, 0);
    font-size: 40px;
    text-align: right;
    text-align: right;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
}

input::placeholder {
    color: #ffffff;
}

button {
    border: 0;
    width: 70px;
    height: 70px;
    margin: 10px;
    border-radius: 8px;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -4px -4px 10px rgb(0, 0, 0);
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
}

.botaoigual {
    font-size: 20px;
    background-color: rgb(12, 7, 7);
    color: #ffffff;
}


.operador {
    font-size: 20px;
    color: rgb(17, 9, 9);
}

.botaomaior {
    font: 30px;
    font-weight: 600;
    color: rgb(17, 9, 9);
}