body {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
    margin-top: 80px;
	text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container2 {
	text-align: center;
    display: flex;
    flex-direction: row;
    width: 80%;
   
}
.caixa{
    width: 50%;
}

h1 {
	font-size: 36px;
	margin-top: 50px;
    font-family: Red Rose;
    width: 90%;
}

p {
	font-size: 16px;
	margin-top: 30px;
	margin-bottom: 30px;
    font-family: Roboto;
    color: #6F7CB2;
}

button {
	background-color: #4CAF50;
	color: white;
	border: none;
	padding: 15px 32px;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.ima img{
    width: 431px;
}

.caixa2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    text-align: start;
}

.bo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.button1{
    margin-left: 10px;
    background-color: black;
    color: white;
    width: 190px;
}

.button2{
    background-color: white;
    color: black;
    border:1px solid black;
    width: 190px;
    margin-left: 30px;
    height: auto;
}